{% extends "base.html" %}
{% load humanize %}
{% block title %}
Viedo | {{ block.super }}
{% endblock %}


{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'courses:list' %}">Courses</a></li>
  <li class="active">{{ object.title }}</li>
</ol>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="background-color:#ccc">


        {% if object.image %}
        <img src="{{ object.image.url }}" class="img-responsive">
        {% endif %}


        <h1>{{ object.title }}</h1>
        {{ object.description |linebreaks }}
        {% if not object.is_owner %}
        <a href="{{ object.get_purchase_url }}">Purchase</a>
        {{ object.display_price }}
        {% endif %}

        <div class="row">
            <div class="col-sm-12">
                {% for item in object.lecture_set.all%}
                <div class="list-group">

                    <a class="list-group-item lead" href="{{ item.get_absolute_url }}">
                        {{ item.title}} {% if item.free %}<small>Free Preview</small>{% endif %}</a>
                    {% empty %}
                    <p class="lead">Lectures comming soon</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}