{% extends "base.html" %}
{% load humanize %}
{% block title %}
Viedo | {{ block.super }}
{% endblock %}


{% block content %}
<div class="row">

    <div class="col-sm-6 col-sm-offset-3" style="background-color:#ccc">
        <h1>Please Purchase to continue</h1>


        <h1>{{ object.title }}</h1>
        {{ object.description |linebreaks }}
        {% if not object.is_owner %}
        <a href="{{ object.get_purchase_url }}">Purchase</a>
        {{ object.display_price }}
        {% endif %}


    </div>
</div>
{% endblock %}