{% extends "base.html" %}

{% block title %}
Viedo | {{ block.super }}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2" style="background-color:#ccc">
        <h1>Hello!!</h1>
        {% include 'videos/snippets/video_search_form.html' with request=request %}

        <ul>
            <li>{{ object.title }}</li>
            <li>{{ object.embed_code|safe }}</li>
            <li>{{ object.updated }}</li>
            <li>{{ object.id }}</li>
        </ul>
    </div>
</div>
{% endblock %}